* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Badge_hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    height: 250px;
    grid-area: top;
    
   
}

.Badge_hero .img-fluid {
    padding: 0;
    max-height: 115px;
    flex-basis: 50%;

}

/* .menu_container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
    flex-wrap: wrap;

} */

.badge {

    grid-area: badge;   
    width: 40%;
    margin: 0 10%;
}

.form {

    grid-area: form;
    padding: 2em;
    border: 1px solid rgb(155, 152, 152);
    
    border-radius: 10px;
    margin-bottom: 2em;
    position: absolute !important;
    right: 12.5%;
    bottom: 5%;
    width: 475px;
    height: auto;
    background-color: white;
}

.cont_badgenew {
    display: grid;
    grid-gap: 0.5em;
    position: relative;
    grid-template-areas:
        'top'
        'badge';
}