
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fa{
    padding: 0.5em 2.5em !important;
    text-align: center;
    background-color: rgb(40, 182, 40) !important;
    width: 100%;
    border: none !important;
    font-size: 20px !important;
    color: white;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: bolder;
}